---
import Container from "~/components/Container.astro";
import Link from "~/components/Link.astro";
import LinkSeparator from "~/components/LinkSeparator.astro";
import { SITE } from "~/consts";

const pages = [
	{
		name: "home",
		link: "/",
	},
	{
		name: "blog",
		link: "/blog/",
	},
];

function isCurrentPage(link: string) {
	return link === Astro.url.pathname;
}
---

<header style="view-transition-name: header;">
	<Container>
		<div class="flex flex-wrap justify-between gap-y-2">
			<Link href="/" underline={false}>
				<div class="font-semibold">
					{SITE.NAME}
				</div>
			</Link>

			<nav class="flex gap-x-2">
				{
					pages.map((page, i) => (
						<>
							<Link href={page.link} disabled={isCurrentPage(page.link)}>
								{page.name}
							</Link>
							{i < pages.length - 1 && <LinkSeparator />}
						</>
					))
				}
			</nav>
		</div>
	</Container>
</header>
